@using Game.Web.Pages
@using System.Threading
@using System.Diagnostics
@inject IJSRuntime jsRuntime

<h3>@enemy.name @enemy.level </h3>
<h5>Click on small button, be fast</h5>
<div class="hpBar">
    <div class="hpBarLeft" style="@styleHPString"></div>
</div>
<div class="brandCombat" @onclick="wrongClick" id="box">
    <button @onclick="click" style="@position" class="changePositionBtn btn btn-light"></button>
</div>
<div class="buttonsDiv">
    <button @onclick="exit" class="btn btn-danger">EXIT</button>
</div>
<p>@text</p>

@code {
    [CascadingParameter]
    public AppState appState { get; set; }
    [Parameter]
    public EnemyBrand enemy { get; set; }
    [Parameter]
    public Player player { get; set; }

    public string styleHPString = "width: 100%";
    public string failed = " ";
    public int full = 0;
    int width;
    bool dead = false;
    string position;
    string text;
    Dictionary<string, object> dictionary = new Dictionary<string, object>();
    Random rnd = new Random();
    bool clicked = false;

    protected void exit()
    {

        styleHPString = "width: 100%";
        if (enemy.hp >0&& full!=0)
        {
            enemy.hp = full;
        }
        failed = "";
        dead = false;
        appState.Action?.Invoke();
        if (full!=0)
        {
            enemy.hp = full;
        }
        full = 0;
    }
    protected async void click()
    {
        clicked = true;
        if (!dead)
        {
            if (full == 0)
            {
                full = enemy.hp;
            }
            text = " ";
            width = await jsRuntime.InvokeAsync<int>("getWidth");
            int top = rnd.Next(0, 200 - 20);
            int left = rnd.Next(0, width - 20);
            position = $"top: {top}px; left: {left}px";

            enemy.hp -= player.damage;
            int hpBar = enemy.hp * 100 / full;
            styleHPString = $"width: {hpBar}%";
            if (enemy.hp <= 0)
            {
                dead = true;
                text = "Succesfull";
            }
        }
        clicked = false;
    }
    protected void wrongClick()
    {
        if (!dead)
        {
            if (!clicked)
            {
                if (full == 0)
                {
                    full = enemy.hp;
                }
                text = "missed";
                if (enemy.hp < full)
                {
                    enemy.hp += player.damage;
                    if (enemy.hp > full)
                    {
                        enemy.hp = full;
                    }
                }
                else
                {
                    enemy.hp = full;
                }
                int hpBar = enemy.hp * 100 / full;
                styleHPString = $"width: {hpBar}%";
            }
        }
    }
}
