@page "/game"
@page "/game/{seed:int}/{dificulty:int}"
@page "/game/{gameId:int}"
@using Game.Web.Pages
@using Game.Web.Shared
@using Game.Web.Shared.GameWindow
@inject IJSRuntime JS
@inject BrowserService Browser
@inherits GameWindowBase
<div class="game">
    <Map @ref="map" seed="@seed" gameId="@gameId" dificulty="@dificulty"></Map>
<CodeBlock @ref="codeBlock" mapBase="@map" Combat="@combat"></CodeBlock>
<Inventory player="@player"></Inventory>
@*<Settings codeBlock="@codeBlock" map="@map"></Settings>*@
<Info codeBlock="@codeBlock"></Info>
<Combat @ref="combat" codeBlock="@codeBlock"></Combat>
</div>


@code {
    
    protected override void OnAfterRender(bool firstRender)
        {   
            StateHasChanged();
            player = map.player;
            Browser.Init(JS);
        }
}