@using Game.Web.Pages
@using Game.Web.Shared.GameWindow.Enemies
@inherits MapBase

<div class="blocks">
            <img class="player" style="@PlayerCss" src="@player.ImagePath" />
    @foreach(EnemyParent enemy in enemies)
    {
        <img class="player" style="@positionEnemy(enemy)" src="@enemy.imagePath" />
    }
            @for (int i = renderHeightStart; i < renderHeightEnd; i++)
            {
                <div>
                    @for (int j = renderWidthStart; j < renderWidthEnd; j++)
                    {<img class="block" src="@mapGrid[i * mapWidth + j].ImagePath" />}
                </div>
            }
        </div>

@code {
    string PlayerCss => $"top: {top}px; left: {left}px";
    public string positionEnemy(EnemyParent enemy)
    {
        int enemyTop = (enemy.positionY -renderHeightStart) * 40 +3;
        int enemyLeft = (enemy.positionX - renderWidthStart) * 40 +3;
        return $"top: {enemyTop}px; left: {enemyLeft}px";
    }
}
